<div class="all">
    <div class="main">
        <i class="fa-solid fa-backward go-back"></i>

        <div class="content">
            <h1>Jugadores Club</h1>
            <table>
                <thead>
                    <tr>
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Rol</th>
                        <th>Expulsar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let jugador of jugadores">
                        <td>{{jugador.dni}}</td>
                        <td>{{jugador.nombre}}</td>
                        <td>{{jugador.rolClub}}</td>
                        <td><button>Expulsar</button></td>
                    </tr>
            </table>
        </div>
    </div>
</div>