<div class="all">
    <div class="header">
        <div class="spotifyWhiteLogo">
            <img src="./../../../assets/img/logo.jpeg" alt="">
        </div>
    
    </div>
    
    <div class="body">
    
        <div class="loginContainer">
    
            <div class="titulo">
                <h1>Inicia sesión en SportsTeamCreator</h1>
            </div>
            
        
            <ul class="socialsButtons">
    
                <li>
                    <button>
                        <div class="logo">  <img id="googleLogo" src="../../../../assets/img/googleLogo.png" alt=""></div>
                        <div class="continue"><h3>Continuar con Google</h3></div> 
                    </button>
                </li>
                <li>
                    <button>
                        <div class="logo">  <img id="googleLogo" src="../../../../assets/img/facebookLogo.png" alt=""></div>
                        <div class="continue"><h3>Continuar con Facebook</h3></div> 
                    </button>
                </li>
                <li>
                    <button>
                        <div class="logo">  <img id="googleLogo" src="../../../../assets/img/appleLogo.png" alt=""></div>
                        <div class="continue"><h3>Continuar con Apple</h3></div> 
                    </button>
                </li>
                
            </ul>
    
            <hr>
    
            <div class="form">
    
                <div class="input">
            
              
                </div>
                <br>
                <div class="input" id="inputPassword">
                    <h4>Contraseña</h4>
  
                    
                </div>

                
               
                <br>
    
                <div class="remember">
    
                    <div class="groupSwitchText">
                    <app-switcher class="switcher"></app-switcher> 
                    <p>Recuérdame</p>
    
                     </div>
                </div>
    
                <div class="loginButton">
                  

                        <div class="loader">
                          
                        </div>
                       
                
                   
                </div>   
                
                <h4 class="passwordForgot">¿Se te ha olvidad la contraseña?</h4>
            
                <hr>
    
                <div class="register">
    
                    <div class="registerContainer">
                    <h4 class="noAcc">¿No tienes cuenta?</h4>
                    <h4 class="subscribe">Registrate en SportsTeamCreator</h4>
                      </div>
                </div>
            </div>
            
                 
            
      
       
           
        </div>
    </div>
    
    </div>