<div id="arriba">
    <div class="welcome">
        <h1>{{nombreEquipo}}</h1>
        <h4 class="subtitulo">Bienvenido al dashboard del Equipo {{nombreEquipo}}</h4>
    </div>
    <div class="botones" *ngIf="admin">
        <button (click)="volverClub()"><i class="fa-solid fa-house"></i></button>
        <div class="separador"></div>
        <button (click)="mostrarCalendario()" [ngStyle]="{'color': calendario ? '#47A1F6' : '' }"><i
                class="fa-solid fa-calendar-days"></i></button>
        <div class="separador"></div>
        <button (click)="mostrarJugadores()" [ngStyle]="{'color': jugadoresEquipo ? '#47A1F6' : '' }"><i
                class="fa-solid fa-users"></i></button>
        <div *ngIf="admin" class="separador"></div>
        <button *ngIf="admin" (click)="mostrarAjustes()" [ngStyle]="{'color': ajustesEquipo ? '#47A1F6' : '' }"><i
                class="fa-solid fa-cog"></i></button>
    </div>

</div>
<div class="loader" id="loaderContainer" *ngIf="showLoaderCalendario">
    <app-loader-minimalista *ngIf="showLoaderCalendario"></app-loader-minimalista>
</div>
<div id="abajo" *ngIf="calendario && !showLoaderCalendario">
    <div class="calendario">
        <div class="titulo">
            <h1>Calendario Equipo:</h1>
            <select class="filtroCalendario" name="eventosTipo" id="eventosTipo" [(ngModel)]="tipoEventoSeleccionado"
                (ngModelChange)="eventosDeEquipo()">
                <option value="todos" selected>Todos</option>
                <option value="entrenamiento" class="entrenamiento">Entrenamiento</option>
                <option value="partido" class="partido">Partido</option>
                <option value="reunion" class="reunion">Reunion</option>
                <option value="otro" class="otro">Otro</option>
            </select>
            <button *ngIf="admin" (click)="crearEvento()"><i class="fa-solid fa-plus"></i></button>
        </div>
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>
<div class="loader" id="loaderContainer" *ngIf="showLoaderJugadores">
    <app-loader-minimalista *ngIf="showLoaderJugadores"></app-loader-minimalista>
</div>
<div id="abajo" *ngIf="jugadoresEquipo && !showLoaderJugadores">
    <div class="jugadores">
        <h1>Jugadores del Equipo:</h1>
        <table>
            <thead>
                <tr>
                    <th>Foto de perfil</th>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Dorsal</th>
                    <th>Funcion</th>
                    <th>Rol</th>
                    <th *ngIf="admin">Expulsar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jugador of jugadores">
                    <td><img src="{{jugador.imagen}}" alt=""></td>
                    <td>{{jugador.dni_usuario}}</td>
                    <td>{{jugador.nombre}}</td>
                    <td>{{jugador.apellidos}}</td>
                    <td>
                        <div class="selectRol" *ngIf="admin && jugador.dni_usuario != usuarioLogeado.dni">
                            <input type="number" [value]="jugador.dorsal"
                                (change)="cambiarDorsalEquipo(jugador.dni_usuario, $event)">
                        </div>
                        <div class="rol" *ngIf="!admin || jugador.dni_usuario == usuarioLogeado.dni">
                            {{jugador.dorsal}}</div>
                    </td>
                    <td>
                        <div class="selectRol" *ngIf="admin && jugador.dni_usuario != usuarioLogeado.dni">
                            <select name="funcion" id="funcion"
                                (change)="cambiarFuncionEquipo(jugador.dni_usuario, $event)">
                                <option [selected]="jugador.funcion === 'jugador'" value="jugador">Jugador</option>
                                <option [selected]="jugador.funcion === 'entrenador'" value="entrenador">Entrenador
                                </option>
                                <option [selected]="jugador.funcion === 'sanitario'" value="sanitario">Sanitario
                                </option>
                            </select>

                        </div>
                        <div class="rol" *ngIf="!admin || jugador.dni_usuario == usuarioLogeado.dni">
                            {{jugador.funcion}}</div>
                    </td>
                    <td>
                        <div class="selectRol" *ngIf="admin && jugador.dni_usuario != usuarioLogeado.dni">
                            <select name="rol" id="rol" (change)="cambiarRolEquipo(jugador.dni_usuario, $event)">
                                <option [selected]="jugador.rol === 'Usuario'" value="Usuario">Usuario
                                </option>
                                <option [selected]="jugador.rol === 'Admin'" value="Admin">
                                    Admin</option>
                            </select>
                        </div>
                        <div class="rol" *ngIf="!admin || jugador.dni_usuario == usuarioLogeado.dni">
                            {{jugador.rol}}</div>
                    </td>
                    <td *ngIf="admin"><button class="buttonTabla"
                            (click)="ExpulsarJugador(jugador.dni_usuario)">Expulsar</button></td>
                </tr>
        </table>
    </div>
</div>
<div id="abajo" *ngIf="ajustesEquipo && admin">
    <div class="ajustesclub">
        <div class="content">
            <h1>Editar Equipo</h1>

            <div class="input">
                <h4>Nombre</h4>
                <input type="text" class="inputElement" placeholder="Nombre" [(ngModel)]="nombreEquipo">
            </div>
            <div class="input">
                <h4>Categoria</h4>
                <input type="text" class="inputElement" placeholder="Categoria" [(ngModel)]="categoria">
            </div>
            <div class="input">
                <h4>Genero</h4>
                <select name="genero" id="genero" [(ngModel)]="genero">
                    <option disabled selected>Selecciona un genero</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="mixto">Mixto</option>
                </select>
            </div>

            <div *ngIf="admin" class="loginButton">
                <button class="buttonLogin">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>