<div class="all">
    <div class="main">

        <div class="content">
            <h1>Editar Club</h1>


            <div class="input">
                <h4>Nombre</h4>
                <input type="text" class="inputElement" placeholder="Nombre">
            </div>
            <div class="input">
                <h4>Codigo Acceso</h4>
                <input type="text" class="inputElement" placeholder="Codigo Acceso">
            </div>
            <div class="input">
                <h4>Localizacion</h4>
                <input type="text" class="inputElement" placeholder="Localizacion">
            </div>

            <div class="loginButton">
                <button class="buttonLogin">
                    Guardar
                </button>

            </div>

        </div>
    </div>
</div>