.app-container {
    display: flex;
    height: 100vh;

    width: 100%;
    --s: 37px;
    /* control the size */

    --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
        var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
        var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));

    font-family: 'Gotham';
    margin: 0;

}

app-baner-lateral {
    margin: 1%;
    border-radius: 12px;
    padding: 1%;
    width: 15%;
    background-color: #081B26;
    color: white;
}

#container {
    flex: 1;
    color: white;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;

}

#arriba {
    border-radius: 12px;
    background-color: #081B26;
    height: 12%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    margin-bottom: 1%;
}

#abajo {
    border-radius: 12px;
    background-color: #081B26;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: 79%;
}

.welcome {
    padding-left: 2%;
}

.subtitulo {
    opacity: 0.5;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #47A1F6;
}