<div class="app-container">
    <app-baner-lateral></app-baner-lateral>
    <div id="container">
        <div id="arriba" *ngIf="!mostrarEquipos">
            <div class="welcome">
                <h1>{{nombreClub}}</h1>
                <h4 class="subtitulo">Bienvenido al dashboard del Club {{nombreClub}}</h4>
            </div>
            <div class="botones">
                <button (click)="mostrarCalendario()" [ngStyle]="{'color': calendario ? '#47A1F6' : '' }"><i class="fa-solid fa-calendar-days"></i></button>
                <div class="separador"></div>
                <button (click)="mostrarJugadores()"  [ngStyle]="{'color': jugadoresClub ? '#47A1F6' : '' }"><i class="fa-solid fa-users"></i></button>
                <div class="separador"></div>
                <button (click)="mostrarEquiposUnirse()"  [ngStyle]="{'color': equiposClub ? '#47A1F6' : '' }"><i class="fa-solid fa-people-group"></i></button>
                <div class="separador"></div>
                <button (click)="mostrarAjustes()" [ngStyle]="{'color': ajustesClub ? '#47A1F6' : '' }"><i class="fa-solid fa-cog"></i></button>
            </div>

        </div>
        <div id="abajo" *ngIf="!mostrarEquipos && calendario">
            <div class="calendario">
                <div class="titulo">
                    <h1>Calendario:</h1>
                    <select class="filtroCalendario" name="eventosTipo" id="eventosTipo" [(ngModel)]="tipoEventoSeleccionado"
                        (ngModelChange)="eventosDeClub()">
                        <option value="todos" selected>Todos</option>
                        <option value="entrenamiento">Entrenamiento</option>
                        <option value="partido">Partido</option>
                        <option value="reunion">Reunion</option>
                        <option value="otro">Otro</option>
                    </select>

                    <button *ngIf="admin" (click)="crearEvento()"><i class="fa-solid fa-plus"></i></button>
                </div>


                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>

        </div>
        <div id="abajo" *ngIf="!mostrarEquipos && jugadoresClub">
            <div class="jugadores">
                <h1>Jugadores del Club:</h1>
                <table>
                    <thead>
                        <tr>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th *ngIf="admin">Expulsar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let jugador of jugadores">
                            <td>{{jugador.dni}}</td>
                            <td>{{jugador.nombre}}</td>
                            <td>{{jugador.rolClub}}</td>
                            <td *ngIf="admin"><button class="buttonTabla">Expulsar</button></td>
                        </tr>
                </table>
            </div>
        </div>
        <div id="abajo" *ngIf="!mostrarEquipos && equiposClub">
            <div class="calendario">
                <h1>Equipos a los que puedes unirte del Club:</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Unirme</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let equipo of equipos">
                            <td>{{equipo.nombre}}</td>
                            <td><button class="buttonTabla" (click)="unirmeAEquipo(equipo.id_equipo)">Unirme</button>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
        <div id="abajo" *ngIf="!mostrarEquipos && ajustesClub">
            <div class="ajustesclub">
                <button (click)="seleccionar('ajustes')">AJUSTES</button>
                <button (click)="seleccionar('gestionar')">GESTION EQUIPOS</button>

                <div *ngIf="visible === 'ajustes'">
                    <div class="content">
                        <h1>Editar Club</h1>

                        <div class="input">
                            <h4>Nombre</h4>
                            <input type="text" class="inputElement" placeholder="Nombre" [(ngModel)]="nombreClub">
                        </div>
                        <div class="input">
                            <h4>Codigo Acceso</h4>
                            <input type="text" class="inputElement" placeholder="Codigo Acceso"
                                [(ngModel)]="codigoAcceso">
                        </div>
                        <div class="input">
                            <h4>Localizacion</h4>
                            <input type="text" class="inputElement" placeholder="Localizacion"
                                [(ngModel)]="localizacion">
                        </div>

                        <div *ngIf="admin" class="loginButton">
                            <button  class="buttonLogin" (click)="modificarClub()">
                                Guardar
                            </button>

                        </div>

                    </div>
                </div>
                <div *ngIf="visible === 'gestionar'">
                    <div class="titulo">
                        <h1>Gestionar Equipos:</h1>
                        <button (click)="crearEquipoPopUp()"><i class="fa-solid fa-plus"></i></button>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let equipo of equipos">
                                <td>{{equipo.nombre}}</td>
                                <td><button class="buttonTabla">Editar</button></td>
                                <td><button class="buttonTabla"
                                (click)="borrarEquipo(equipo.id_equipo)">Eliminar</button></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>

        <app-equipo *ngIf="mostrarEquipos"></app-equipo>
    </div>