<div class="app-container">
    <app-baner-lateral></app-baner-lateral>
    <div id="container">
        <div id="arriba" *ngIf="!mostrarEquipos">
            <div class="welcome">
                <h1>{{nombreClub}}</h1>
                <h4 class="subtitulo">Bienvenido al dashboard del Club {{nombreClub}}</h4>
            </div>
            <div class="botones">
                <button (click)="mostrarCalendario()" [ngStyle]="{'color': calendario ? '#47A1F6' : '' }"><i
                        class="fa-solid fa-calendar-days"></i></button>
                <div class="separador"></div>
                <button (click)="mostrarJugadores()" [ngStyle]="{'color': jugadoresClub ? '#47A1F6' : '' }"><i
                        class="fa-solid fa-users"></i></button>
                <div class="separador"></div>
                <button (click)="mostrarEquiposUnirse()" [ngStyle]="{'color': equiposClub ? '#47A1F6' : '' }"><i
                        class="fa-solid fa-people-group"></i></button>
                <div *ngIf="admin" class="separador"></div>
                <button *ngIf="admin" (click)="mostrarAjustes()" [ngStyle]="{'color': ajustesClub ? '#47A1F6' : '' }"><i
                        class="fa-solid fa-cog"></i></button>
            </div>

        </div>
        <div id="abajo" *ngIf="!mostrarEquipos && calendario">
            <div class="calendario">
                <div class="titulo">
                    <h1>Calendario:</h1>
                    <select class="filtroCalendario" name="eventosTipo" id="eventosTipo"
                        [(ngModel)]="tipoEventoSeleccionado" (ngModelChange)="eventosDeClub()">
                        <option value="todos" selected>Todos</option>
                        <option value="entrenamiento" class="entrenamiento">Entrenamiento</option>
                        <option value="partido" class="partido">Partido</option>
                        <option value="reunion" class="reunion">Reunion</option>
                        <option value="otro" class="otro">Otro</option>
                    </select>

                    <button *ngIf="admin" (click)="crearEvento()"><i class="fa-solid fa-plus"></i></button>
                </div>


                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
        </div>
        <div id="abajo" *ngIf="!mostrarEquipos && jugadoresClub">
            <div class="jugadores">
                <h1>Jugadores del Club:</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Foto de perfil</th>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Rol</th>
                            <th *ngIf="admin">Expulsar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let jugador of jugadores">
                            <td><img src="{{jugador.imagen}}" alt=""></td>
                            <td>{{jugador.dni}}</td>
                            <td>{{jugador.nombre}}</td>
                            <td>{{jugador.apellidos}}</td>
                            <td>
                                <div class="selectRol" *ngIf="admin && jugador.dni != usuarioLogeado.dni">
                                    <select name="rol" id="rol"
                                        (change)="cambiarRolClub(jugador.dni, jugador.rolClub === 'plebeyo' ? 'administrador' : 'plebeyo')">
                                        <option [selected]="jugador.rolClub === 'plebeyo'" value="plebeyo">Plebeyo
                                        </option>
                                        <option [selected]="jugador.rolClub === 'administrador'" value="administrador">
                                            Administrador</option>
                                    </select>
                                </div>
                                <div class="rol" *ngIf="!admin || (admin && usuarioLogeado.dni === jugador.dni)">
                                    {{jugador.rolClub}}</div>
                            </td>
                            <td *ngIf="admin"><button (click)="expulsarJugador(jugador.dni)"
                                    class="buttonTabla">Expulsar</button>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
        <div id="abajo" *ngIf="!mostrarEquipos && equiposClub">
            <div class="loader" id="loaderContainer" *ngIf="showLoader">
                <app-loader-minimalista *ngIf="showLoader"></app-loader-minimalista>
            </div>
            <div class="calendario" *ngIf="!showLoader">
                <h1 *ngIf="equipos.length > 0">Equipos a los que puedes unirte del Club:</h1>
                <h1 *ngIf="equipos.length === 0">No puedes unirte a ningún equipo en este momento...</h1>
                <table *ngIf="equipos.length > 0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Genero</th>
                            <th>Unirme</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let equipo of equipos">
                            <td>{{equipo.nombre}}</td>
                            <td>{{equipo.categoria}}</td>
                            <td>{{equipo.genero}}</td>
                            <td><button class="buttonTabla" (click)="unirmeAEquipo(equipo.id_equipo)">Unirme</button>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
        <div id="abajo" *ngIf="!mostrarEquipos && ajustesClub">
            <div class="ajustesclub">
                <button (click)="seleccionar('ajustes')">AJUSTES</button>
                <button *ngIf="admin" (click)="seleccionar('gestionar')">GESTION EQUIPOS</button>

                <div *ngIf="visible === 'ajustes'">
                    <div class="content">
                        <h1>Editar Club</h1>

                        <div class="input">
                            <h4>Nombre</h4>
                            <input type="text" class="inputElement" placeholder="Nombre" [(ngModel)]="nombreClub">
                        </div>
                        <div class="input">
                            <h4>Codigo Acceso</h4>
                            <input type="text" class="inputElement" placeholder="Codigo Acceso"
                                [(ngModel)]="codigoAcceso">
                        </div>
                        <div class="input">
                            <h4>Localizacion</h4>
                            <input type="text" class="inputElement" placeholder="Localizacion"
                                [(ngModel)]="localizacion">
                        </div>

                        <div *ngIf="admin" class="loginButton">
                            <button class="buttonLogin" (click)="modificarClub()">
                                Guardar
                            </button>

                        </div>

                    </div>
                </div>
                <div *ngIf="visible === 'gestionar'">
                    <div class="titulo">
                        <h1>Gestionar Equipos:</h1>
                        <button (click)="crearEquipoPopUp()"><i class="fa-solid fa-plus"></i></button>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Categorio</th>
                                <th>Genero</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let equipo of equipos">
                                <td>{{equipo.nombre}}</td>
                                <td>{{equipo.categoria}}</td>
                                <td>{{equipo.genero}}</td>
                                <td><button class="buttonTabla"
                                        (click)="editarEquipoPopUp(equipo.id_equipo)">Editar</button>
                                </td>
                                <td><button class="buttonTabla"
                                        (click)="borrarEquipo(equipo.id_equipo)">Eliminar</button></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>

        <app-equipo *ngIf="mostrarEquipos"></app-equipo>
    </div>