<div *ngIf="!loadingUsuarioInfo" class="infoUsuario">
    <!-- <div class="contenedor-perfil">
        <img (click)="irPerfil()" src="{{fotoPerfil}}" alt="Foto de perfil">
       
      </div> -->
    <div class="contenedorImagen">
        <div class="circuloImagen">
            <img (click)="irPerfil()" src="{{fotoPerfil}}" alt="Foto de perfil">
        </div>
    </div>

    <div class="infoDeUsuario">

        <ng-container>
            {{usuarioLogeado.nombre}}
            {{apellidos}}
            {{usuarioLogeado.dni}}
        </ng-container>

    </div>
</div>

<app-loader-minimalista *ngIf="loadingUsuarioInfo"></app-loader-minimalista>

<div class="opciones">
    <button class="button-ir-dashboard" (click)="irDashbordPrincipal()">
        <i class="fa-solid fa-house"></i>
        <h4>Ir al dashboard principal</h4>
    </button>
</div>
<br><br>
<a href="/dashboard"><img src="./../../assets/img/logo.jpg" alt="Logo del Usuario" width="70%"></a>
<ul>
    <li>
        <h4><i class="fa-solid fa-user"></i> Mis Equipos</h4>
        <app-loader-minimalista *ngIf="loadingEquipos"></app-loader-minimalista>
    </li>
    <ul>
        <li *ngFor="let equipo of equipos">
            <a [routerLink]="['/dashboard/club']" [queryParams]="{clubId: id_club, nombreClub: nombreClub}"
                (click)="cambiarMostrarEquipos(equipo.id_equipo, equipo.nombre, equipo.genero, equipo.categoria)">
                <button [ngStyle]="{'background-color': idEquipo == equipo.id_equipo ? '#47A1F6' : '' }">{{
                    equipo.nombre
                    }}</button>
            </a>
        </li>

        <h4 *ngIf="!loadingEquipos && equipos.length === 0" style="text-align: center; color: grey;">No hay ningún
            equipo disponible</h4>

    </ul>

</ul>