img {
    width: 50%;
}

button {
    background-color: #264F73;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 6%;
}

button:hover {
    background-color: #47A1F6;
    transition: all 0.3s;
    color: #264F73;
    cursor: pointer;
    font-weight: bold;
}

.button-ir-dashboard{
    padding: 10px !important;
    display: flex;
    gap: 20px;
   
}
.button-ir-dashboard h4{
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.infoUsuario{
    display: flex;
    gap: 20px;
    align-items: center;
}

.contenedor-perfil {
    width: 80px; /* Ancho fijo del contenedor */
    height: 80px; /* Alto fijo del contenedor */
    max-width: 100%; /* Evita que el contenedor se desborde del contenedor padre */
    border-radius: 50%; /* Hace que el contenedor sea redondo */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se extienda más allá del contenedor */
    position: relative; /* Se necesita para el truco de la proporción de aspecto */
  }
  
  .contenedor-perfil img {
    width: 100%; /* Para que la imagen llene completamente el contenedor */
    height: auto; /* Para mantener la proporción de la imagen */
    display: block; /* Para evitar espacios en blanco debajo de la imagen */
    position: absolute; /* Posición absoluta para permitir el truco de la proporción de aspecto */
    top: 50%; /* Centra verticalmente la imagen */
    left: 50%; /* Centra horizontalmente la imagen */
    transform: translate(-50%, -50%); /* Centra la imagen en el medio del contenedor */
  }
  

  .contenedor-perfil img:hover{
    cursor: pointer;
  }
  
  @media (max-width: 1200px) {
   
    .contenedor-perfil {
        display: none !important;
    }

    h4{
        font-size: smaller;
    }
}

.opciones{
    padding-top: 30px;
}
