img {
    width: 50%;
}

button {
    background-color: #264F73;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 6%;
    transition: all 0.3s;
}


button:hover {
    background-color: #47A1F6;
    cursor: pointer;
}

.button-ir-dashboard {
    padding: 10px !important;
    display: flex;
    gap: 20px;

}

.button-ir-dashboard h4 {
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.infoUsuario {
    display: flex;
    gap: 50px;
    align-items: center;
}

.circuloImagen {
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
}

.circuloImagen img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.circuloImagen img:hover {
    cursor: pointer;
}



.contenedor-perfil img:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {

    .contenedor-perfil {
        display: none !important;
    }

    h4 {
        font-size: smaller;
    }
}

.opciones {
    padding-top: 30px;
}