.container {
    display: flex;
    height: 100%;

    width: 100%;
    --s: 37px;
    /* control the size */

    --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
        var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
        var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));

    font-family: 'Gotham';


}

.flexWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.mostrarCrearClub {
    height: 70%;
    display: flex;
    align-items: center;
}

.fa-xmark:hover {
    color: red;
    cursor: pointer;
}


.sidebar {
    padding: 1%;
    margin: 1%;
    margin-bottom: 1%;
    width: 15%;
    background-color: #081B26;
    color: white;
    border-radius: 20px;
}

.sidebar img {
    width: 50%;
}

.sidebar button {
    background-color: #264F73;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 6%;
}

.sidebar button:hover {
    background-color: #47A1F6;
    transition: all 0.3s;
    cursor: pointer;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.main-content {
    margin: 1%;
    flex-grow: 1;
}

.top-container {
    background-color: #081B26;
    color: white;
    height: 10%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    padding: 1%;
    border-radius: 20px;
}

img:hover {
    cursor: pointer;
}

.bottom-container {
    height: 85%;
    display: flex;
    justify-content: space-between;
}

.container1 {
    color: white;
    border-radius: 20px;
    width: 48%;
    margin-right: 2%;
}


#crearClubMas {
    font-size: 100px;
    text-align: center;
    margin: 0 auto;
}

#crearClubMas:hover {
    cursor: pointer;
    color: grey;
}

.container1 .subcontainer1 {
    background-color: #081B26;
    color: white;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    width: 96%;
    height: 55%;
    padding-bottom: 20px;
    margin-bottom: 2%;
}


.container1 .subcontainer2 {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    background-color: #081B26;
    color: white;
    border-radius: 20px;
    width: 96%;
    height: 40%;
}

.container1 form {
    display: flex;
    flex-direction: column;
}

.container1 form h1 {
    text-align: center;
}

.container1 form input {
    margin-bottom: 3%;
    padding: 1%;
    border-radius: 5px;
    border: none;
}

.container1 form button {
    background-color: #264F73;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 4%;
}

.container1 form button:hover {
    background-color: #47A1F6;
    transition: all 0.3s;
    cursor: pointer;
}

.container2 {
    background-color: #081B26;
    color: white;
    border-radius: 20px;
    height: auto;
    padding: 1%;
    width: 48%;
    padding-left: 2%;
}

.welcome {
    padding-left: 2%;
}

.subtitulo {
    opacity: 0.5;
}

.search {
    text-align: right;
    width: 22%;
    flex-grow: 1;
    display: flex;

}

.search input {
    margin-left: 37%;
    width: 60%;
    padding: 1%;
    flex-grow: 1;
    border-radius: 30px;
}

.search-input {
    padding-right: 100px;
    /* Ajusta el espacio a la derecha para que quepa el icono */
    border: none;
}

p {
    color: black;
}

.search-icon {
    position: absolute;
    right: 10px;
    /* Ajusta la posición del icono a la derecha */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el icono */
}

.imagen {
    display: flex;
    align-self: center;
    justify-content: center;
    color: white;
}

.imagen img {
    border-radius: 100%;
    width: 20%;
    height: auto;
}

.imagen a {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 2%;
    font-size: 150%;
    color: white;
}

.imagen a:hover {
    color: #47A1F6;
}

.imagen {
    max-width: 200px;
    max-height: 200px;
    display: flex;
    justify-content: end;
}

.clubWrapper {
    position: absolute;
    display: none;
    background-color: white;
    overflow: auto;
    max-height: 200px;
    z-index: 1000;
    text-align: start;
}

.search-input:focus {
    border: none;
}

.loader {
    height: 50px;
    padding: 18px;
    display: flex;
    /* Utiliza un contenedor flex */
    justify-content: center;
    /* Centra horizontalmente el contenido */
    align-items: center;
    /* Centra verticalmente el contenido */
}

.titulo-calendario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.titulo-calendario i {
    font-size: larger;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 100px;
}

.titulo-calendario i:hover {
    color: #47A1F6;
    border-color: #47A1F6;
    cursor: pointer;
}

.titulo-calendario button {
    background-color: transparent;
    border: none;
}

.filtroCalendario {
    background-color: #303c54;
    color: white;
    font-family: "Gotham";
    font-weight: bold;
    padding: 10px 5px;
}

.entrenamiento {
    color: #3788d8;
}

.partido {
    color: #d83737;
}

.reunion {
    color: #37d84b;
}

.otro {
    color: #d8b837;
}