<div class="container">
    <div class="sidebar">
        <img src="./../../assets/img/logo.jpg" alt="Logo de SportsTeamCreator" width="70%">
        <ul>
            <li>
                <h4><i class="fa-solid fa-user"></i> Mis Clubes</h4>
            </li>
            <app-loader-minimalista *ngIf="loadingClubs"></app-loader-minimalista>
            <ul *ngIf="!loadingClubs">
                <li *ngFor="let club of clubes">
                    <a [routerLink]="['/dashboard/club']"
                        [queryParams]="{clubId: club.id_club, nombreClub: club.nombre}">
                        <button>{{ club.nombre }}</button>
                    </a>

                </li>
            </ul>

        </ul>
    </div>
    <div class="main-content">
        <div class="top-container">
            <div class="welcome">
                <h2>Bienvenido, {{usuarioLogeado.nombre}}</h2>
                <h4 class="subtitulo">Gestiona tus clubes</h4>
            </div>
            <div class="search">
                <input type="text" id="searchInput" placeholder="Buscar" class="search-input" [(ngModel)]="clubName"
                    (click)="searchClub()" (ngModelChange)="changeNameClub()">
                <div *ngIf="mostrarClubes" class="clubWrapper" id="clubWrapper" (scroll)="infiniteScroll($event)">
                    @if(clubs.length>0){
                    <p *ngFor="let club of clubs">
                        {{club.nombre}}
                    </p>

                    }

                    <div class="loader" id="loaderContainer">
                        <app-loader1 *ngIf="showLoader"></app-loader1>
                    </div>
                </div>
                <div *ngIf="!loadingInfoUsuario" class="imagen">
                    <img (click)="irPerfil()" class="perfil" src="{{ imagenUsuario }}" alt="Foto de perfil">
                    <a (click)="cerrarSesion()"><i class="fa-solid fa-right-from-bracket"></i></a>

                </div>
                <app-loader-minimalista *ngIf="loadingInfoUsuario"></app-loader-minimalista>

            </div>
        </div>
        <div class="bottom-container">
            <!-- Contenido del container inferior -->
            <div class="container1">
                <div class="subcontainer1">
                    <h1>Crear un Club</h1>
                    <form action="">
                        <input type="text" placeholder="Nombre del Club" [(ngModel)]="nombreClubCrear"
                            name="nombreClubCrear">
                        <input type="text" placeholder="Codigo de Acceso" [(ngModel)]="codigoAccesoCrear"
                            name="codigoAccesoCrear">
                        <input type="text" placeholder="Pais" [(ngModel)]="paisCrear" name="paisCrear">
                        <input type="text" placeholder="Ciudad" [(ngModel)]="ciudadCrear" name="ciudadCrear">
                        <button (click)="crearClub()">Crear</button>
                    </form>
                </div>
                <div class="subcontainer2">
                    <h1>Unirse a un Club</h1>
                    <form action="">
                        <input type="text" placeholder="Nombre del Club" [(ngModel)]="nombreClub" name="nombreClub">
                        <input type="text" placeholder="Codigo de Acceso" [(ngModel)]="claveClub" name="claveClub">
                        <button (click)="unirseAClub()">Unirse</button>
                    </form>
                </div>
            </div>
            <div class="container2">
                <div class="titulo-calendario">
                    <h1>Calendario Usuario:</h1>
                    <select class="filtroCalendario" name="eventosTipo" id="eventosTipo"
                        [(ngModel)]="tipoEventoSeleccionado" (ngModelChange)="eventosDeUsuario()">
                        <option value="todos" selected>Todos</option>
                        <option value="entrenamiento" class="entrenamiento">Entrenamiento</option>
                        <option value="partido" class="partido">Partido</option>
                        <option value="reunion" class="reunion">Reunion</option>
                        <option value="otro" class="otro">Otro</option>
                    </select>

                    <button (click)="crearEvento()"><i class="fa-solid fa-plus"></i></button>
                </div>
                <div class="calendario">
                    <full-calendar [options]="calendarOptions"></full-calendar>
                </div>
            </div>
        </div>
    </div>