<div class="imagen-fondo">
    <div class="contenedor-login">
        <form action="" class="formulario-login">
            <h1>Registrarse</h1>
            <input type="text" placeholder="DNI">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellidos">
            <input type="date" placeholder="Fecha de Nacimiento">
            <input type="text" placeholder="Email">
            <select name="Genero" id="Genero">
                <option disabled selected value="Genero">Genero</option>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
            </select>
            <input type="password" placeholder="Contraseña">
            <input type="password" placeholder="Repetir Contraseña">
            <button type="submit">Registrar Cuenta</button>
            <br>
            <a (click)="goToLogin()">¿Ya tienes cuenta? Inicar Sesion</a>
        </form>
    </div>
</div>