<div class="all">
    <div class="header">
        <div class="spotifyWhiteLogo">
            <img (click)="irALogin()" src="./../../../assets/img/logo.jpeg" alt="">
        </div>

    </div>

    <div class="body">

        <div class="loginContainer">

            <div class="titulo">
                <h1>Inicia sesión en SportsTeamCreator</h1>
            </div>


            <ul class="socialsButtons">

                <li>
                    <button>
                        <div class="logo"> <img id="googleLogo" src="../../../../assets/img/googleLogo.png" alt="">
                        </div>
                        <div class="continue">
                            <h3>Continuar con Google</h3>
                        </div>
                    </button>
                </li>
                <li>
                    <button>
                        <div class="logo"> <img id="googleLogo" src="../../../../assets/img/facebookLogo.png" alt="">
                        </div>
                        <div class="continue">
                            <h3>Continuar con Facebook</h3>
                        </div>
                    </button>
                </li>
                <li>
                    <button>
                        <div class="logo"> <img id="googleLogo" src="../../../../assets/img/appleLogo.png" alt=""></div>
                        <div class="continue">
                            <h3>Continuar con Apple</h3>
                        </div>
                    </button>
                </li>

            </ul>

            <hr>

            <div class="form">
                <div class="input">
                    <h4>DNI</h4>
                    <input type="text" id="dni" class="inputElement" placeholder="DNI" [(ngModel)]="dni">
                </div>
                <div class="input">
                    <h4>Nombre</h4>
                    <input type="text" id="name" class="inputElement" placeholder="Nombre" [(ngModel)]="nombre">
                </div>
                <div class="input">
                    <h4>Apellidos</h4>
                    <input type="text" id="surname" class="inputElement" placeholder="Apellidos"
                        [(ngModel)]="apellidos">
                </div>
                <div class="input">
                    <h4>Fecha de nacimiento</h4>
                    <input type="date" id="birthDate" class="inputElement" placeholder="Fecha de nacimiento"
                        [(ngModel)]="fechaNacimiento">
                </div>
                <div class="input">
                    <h4>Correo electrónico</h4>
                    <input type="email" id="email" class="inputElement" placeholder="Correo electrónico"
                        [(ngModel)]="email">
                    <h4 *ngIf="emailMal" class="warningMessage">{{mensajeErrorEmail}}</h4>

                </div>
                <div class="input">
                    <h4>Género</h4>
                    <select name="genero" id="genero" [(ngModel)]="genero">
                        <option disabled selected>Selecciona tu género</option>
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                    </select>
                </div>
                <br>
                <div class="input" id="inputPassword">
                    <h4>Contraseña</h4>
                    <input type="password" id="password" class="inputElement" placeholder="Contraseña"
                        [(ngModel)]="contrasena">
                </div>
                <div class="input" id="inputPassword">
                    <h4>Repetir contraseña</h4>
                    <input type="password2" id="password2" class="inputElement" placeholder="Repetir contraseña"
                        [(ngModel)]="contrasena2">
                    <h4 *ngIf="contrasenaMal" class="warningMessage">{{mensajeErrorContrasena}}</h4>

                </div>

                <br>

                <div class="loginButton">
                    <button class="buttonLogin" (click)="registrarUsuario()">
                        <h4 *ngIf="!comprobandoRegister">Registrarse</h4>

                        <div class="loader">
                            <app-loader1 *ngIf="comprobandoRegister"></app-loader1>
                        </div>

                    </button>

                </div>

                <hr>

                <div class="register">

                    <div class="registerContainer">
                        <h4 class="noAcc">¿Ya tienes cuenta?</h4>
                        <a routerLink="/">
                            <h4 class="subscribe">Inicia sesion en SportsTeamCreator</h4>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>