.imagen-fondo {
    background-image: url('/assets/img/campo.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-login {
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    min-width: 20%;
    max-height: 50%;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

.formulario-login {
    max-width: 90%;
    margin: 1%;
    justify-content: center;
    align-items: center;
}

.formulario-login h1 {
    text-align: center;
    color: #112E40;
}

.formulario-login a {
    color: #112E40;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.formulario-login a:hover {
    color: #47A1F6;
    border-bottom: 2px solid #47A1F6;
}

.formulario-login input,
select {
    display: block;
    width: 100%;
    margin-bottom: 4%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
}

.formulario-login button {
    background-color: #112E40;
    color: white;
    width: 100%;
    text-align: center;
    border: none;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 2%;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario-login button:hover {
    background-color: #47A1F6;
}