<div class="container">
    <i class="fa-solid fa-xmark" (click)="goBack()"></i>
    <h1>Crear Equipo:</h1>
    <form action="">
        <label for="nombreEquipo">Nombre del Equipo</label>
        <input type="text" placeholder="Nombre del Equipo" [(ngModel)]="nombreEquipo" name="nombreEquipo">
        <label for="categoria">Categoría</label>
        <input type="text" placeholder="Categoria" [(ngModel)]="categoria" name="categoria">
        <label for="genero">Género</label>
        <select name="genero" id="genero" [(ngModel)]="genero">
            <option disabled selected>Selecciona un genero</option>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
            <option value="mixto">Mixto</option>
        </select>
        <button (click)="crearEquipo()">Crear</button>
    </form>
</div>