<div class="imagen-fondo">
    <div class="contenedor-login">
        <form action="" class="formulario-login">
            <h1>Iniciar sesión</h1>
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Contraseña">
            <a (click)="goToPasswordForget()">¿Has olvidado la contraseña?</a>
            <br>
            <button type="submit">Iniciar sesión</button>
            <br>
            <a class="con-borde" (click)="goToRegister()">¿No tienes cuenta? Registrate</a>
        </form>
    </div>
</div>