.all {

  font-family: 'Gotham';

  background: linear-gradient(#3e5368 0%, #081c34 100%);

}

.header {
  background-color: #081c34;
  height: 100px;
  display: flex;
}

.spotifyWhiteLogo {
  margin-top: 10px;
  margin-left: 35px;
}

.spotifyWhiteLogo:hover {
  cursor: pointer;
}

h1 {
  font-family: 'Gotham';
  font-weight: 400;
}


.loginContainer {
  background-color: #081c34;
  width: 734px;
  height: auto;
  margin: 0 auto;
  margin-top: 36px;
  border-radius: 8px;
  color: white;
  padding-top: 32px;
}

.titulo h1 {
  margin-top: 28px;
  text-align: center;
  margin-bottom: 48px;
}

.warning {
  display: inline-flex;
  text-align: center;
}

.socialsButtons {
  list-style: none;
  text-align: center;
  padding-left: 0px;
  align-items: center;
}

.socialsButtons button {
  background-color: transparent;
  border: 1px solid grey;
  padding: 14px 31px;
  width: 370px;
  margin-bottom: 8px;
  display: inline-flex;
  border-radius: 9999px;
  box-sizing: border-box;
  float: none;
  line-height: normal;
}

.socialsButtons button:hover {
  border: 1px solid white;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

}

.body {
  margin-top: 0px;

}


h3 {
  color: #e8e8e5;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Gotham";
  font-size: 1rem;
}

hr {
  margin: 35px 100px;
  border-width: 1px medium medium;
  border-style: solid none none;
  border-color: rgb(41, 41, 41) currentcolor currentcolor;
  border-image: none;
}

.continue {
  width: 100%;
  text-align: center !important;
}




.form {
  text-align: center;
  align-items: center;
  display: block;
}

.input {

  display: inline-block;
  /* Permite que el div tenga un ancho determinado */
  width: 370px;
  /* Ancho determinado del div */
  text-align: left;
  /* Alinea el texto a la izquierda dentro del div */

}

h4 {
  font-family: "Gotham";
  font-size: 0.875rem;
  font-weight: 700;
  color: #e8e8e5;
  margin-bottom: 10px;
}

.inputElement {
  width: 100%;
  height: 48px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
  color: #E0E0E0;
  font-family: "Gotham";
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.inputElement:hover {
  border: 1px solid white;
}

.inputElement:focus {
  border: 2px solid white;
}

.warningMessage {
  margin-top: 3px;
  color: red;
  font-weight: 100;


}

#password,
#email {
  text-align: start !important;

  padding-left: 30px;
  width: 345px;
}


.remember {
  display: inline-block;
  width: 370px;
  text-align: left;
  margin-top: 15px;
}

.groupSwitchText {
  display: flex;
}

.groupSwitchText p {
  font-family: "Gotham";
  margin-top: 6px;
  margin-left: 10px;
  font-size: 0.9rem;
}

.loginButton {
  margin-top: 30px;
}

.buttonLogin {
  width: 370px;
  height: 48px;
  border-radius: 9999px;
  background-color: var(--hover-color);
  border: none;
}

.buttonLogin:hover {
  cursor: pointer;
  filter: brightness(1.2);
  scale: 1.1;
}

.buttonLogin h4 {
  color: #081c34;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
}

.passwordForgot {
  margin-top: 25px;
  text-decoration: underline;
  font-weight: 200;
}

.passwordForgot:hover,
.subscribe:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.register {
  margin-top: 40px;
  display: inline-block;
  margin-bottom: 40px;
}

.registerContainer {
  display: flex;
}

.noAcc {
  color: grey;
  font-weight: 200;
}

.subscribe {
  text-decoration: underline;
  margin-left: 5px;
  font-weight: 200;
}

/* En el CSS del componente principal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo gris semi-transparente */
  z-index: 9999;
  /* Para que esté por encima de todo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  text-align: center !important;
  color: white;
  font-size: 24px;
  width: 30px;
  margin: 0 auto;

}

.spotifyWhiteLogo img {
  height: 80px;
  width: auto;
}

@media (max-width: 768px) {

  .spotifyWhiteLogo img {

    height: 36px;
    width: auto;
  }

  .loginContainer {
    margin: 0px;
    width: 100%;
    border-radius: 0px;

  }






}