/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


@font-face {
    font-family: 'Gotham';
    src: url("./assets/fonts/gotham/GothamMedium.ttf")
  
  }


  :root {
    --hover-color: #47A1F6;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
